# Local .terraform directories
**/.terraform/*
02*/


# Terraform state files
*.tfstate
*.tfstate.*
    
# Crash logs
crash.log
crash.*.log

# Exclude override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive variable files
*.auto.tfvars
!example.auto.tfvars
terraform.tfvars

# Ignore local CLI config
.terraformrc
terraform.rc
.terraform.lock.hcl
